<h1>Public::Customers#show</h1>

<%= @customer.name %>

<%= link_to 'Address list', public_address_index_path %>

<%= link_to 'Editing customer', public_customers_edit_path %>
<p>Find me in app/views/public/customers/show.html.erb</p>
